.container {
    height: 100vh;
    background-color: var(--color-fondo);
    overflow: hidden;
}

.mainSection, .mainSectionNoFooter {
    max-width: 100%;
    padding: 1rem;
    overflow: auto;
}

.mainSection {
    max-height: 70%;
}

.mainSectionNoFooter {
    max-height: 85%;
}

.charactersContainer {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);;
    grid-row-gap: 1rem;
}