.loadingContainer {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 70vh;
    grid-column: 1 / -1;
}

.loadingImage {
    max-width: 50%;
    max-height: 50%;
}

.loadingMessage {
    padding: 2rem;
    font-size: 4rem;
}

/* h1 {
    padding: 2rem;
    font-size: 4rem;
} */