.navigationContainer {
    display: flex;
    max-width: fit-content;
    align-items: center;
}

.disabled {
    pointer-events: none;
}

button {
    background-color: var(--color-terciario);
    border-radius: 50%;
}

p {
    font-size: x-large;
    font-weight: 900;
    margin: 0px 1rem;
}

a {
    text-decoration: none;
    padding: 10px;
}