.container {
    background-color: var(--color-primario);
    display: flex;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 75px;
    justify-content: space-between;
}

.linkContainer {
    display: flex;
    box-sizing:content-box;
    float: right;
}

.imgContainer {
    margin-left: 25px;
    max-width: 80px;
    /* Ancho máximo de .imgContainer */
    height: 100%;
    /* Altura igual a .container */
    display: flex;
    /* Utilizar flexbox para alinear la imagen */
    align-items: center;
    /* Centrar verticalmente */
}

.navigationBarImage {
    max-height: 100%;
    /* Altura máxima igual a .imgContainer */
    width: 200%;
    /* Ancho ajustado automáticamente */
}

/* a, h3 {
    padding: 0px 2rem;
    font-size: x-large;
} */

.link {
    padding: 0px 2rem;
    font-size: x-large;
    font-weight: bold;
}

.link:hover {
    text-shadow: 0 0 8px rgb(255, 0, 0, 0.25);
    color: #EB455F;
}