.container {
    background-color: peru;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    width: 95vw;
    height: 50px;
    justify-content: space-between;
}

.linkContainer {
    box-sizing:content-box;
    float: right;
}

.imgContainer {
    float: left;
    /* overflow: hidden; */
    max-width: 100%;
    max-height: 100%;
}

img {
    height: 100%;
    width: 80px;
    /* max-width: 100%;
    max-height: 100%; */
}

a {
    padding: 0px 2rem;
}